html,
body {
  height: 100%;
}

#butterfly {
  height: 100px;
  width: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

#wateringcan {
  width: 200px;
  position: fixed;
  bottom: 20%;
  left: 40%;
}

.waterdrop {
  width: 20px;
  position: relative;
}

#net-image {
  position: absolute;
  margin: 0;
  padding: 5px;
  width: 10rem;
}

.apple {
  height: 50px;
  width: auto;
  position: absolute;
}

#tree {
  position: fixed;
  bottom: 20px;
  left: 50%;
}

.basket {
  width: 200px;
  position: fixed;
  bottom: 20px;
  left: 20%;
}

#minecraftNav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}
#minecraftNavSelected {
  position: absolute;
  bottom: 0;
  left: calc(50% - 240px);
  transform: translate(-50%);
  z-index: 10;
}
#inventoryNet {
  position: absolute;
  bottom: 0.5rem;
  left: calc(50% - 240px);
  transform: translate(-50%);
  z-index: 10;
  width: 1.3rem;
}
#inventoryChainsaw {
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 180px);
  transform: translate(-50%);
  z-index: 10;
  width: 3rem;
}
#inventoryrifle{
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 120px);
  transform: translate(-50%);
  z-index: 10;
  width: 3rem;
}

body {
  margin: 0px;
  background-image: url("../images/grass.png");
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-position: bottom;
  overflow: hidden;
}
