html,
body {
  height: 100%;
  background-color: #74b3ff;
}

.flip {
  transform: scaleY(-1);
  filter: invert(100%) hue-rotate(180deg);
}

#clouds {
  position: absolute;
  width: 100%;
  height: 20%;
}

#butterfly {
  height: 100px;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
}

#wateringcan {
  width: 200px;
  position: fixed;
  bottom: 20%;
  left: 40%;
}

.waterdrop {
  width: 20px;
  position: absolute;
  z-index: 10;
  display: block !important;
  z-index: 0;
}

#net-image {
  position: absolute;
  margin: 0;
  padding: 5px;
  width: 10rem;
  z-index: 10;
}

.apple {
  height: 70px;
  width: auto;
  position: absolute;
}

#tree {
  position: fixed;
  bottom: 0%;
  left: 55%;
  width: 30%;
}

.basket {
  width: 200px;
  position: fixed;
  bottom: 100px;
  left: 20%;
}

#minecraftNav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}
#minecraftNavSelected {
  position: absolute;
  bottom: 0;
  left: calc(50% - 240px);
  transform: translate(-50%);
  z-index: 10;
}

#inventoryNet {
  position: absolute;
  bottom: 0.5rem;
  left: calc(50% - 240px);
  transform: translate(-50%);
  z-index: 10;
  width: 1.3rem;
}

#inventoryAxe {
  position: absolute;
  bottom: 0.5rem;
  left: calc(50% - 180px);
  transform: translate(-50%);
  z-index: 10;
  width: 3rem;
}

#inventoryOakLog {
  position: absolute;
  bottom: 0.5rem;
  left: calc(50% - 120px);
  transform: translate(-50%);
  z-index: 10;
  width: 3rem;
  display: none;
}

#number {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: -1rem;
  left: calc(50% - 120px);
  transform: translate(+20%);
  z-index: 10;
  width: 3rem;
  display: none;
}

#numberOfCrafts {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 46%;
  z-index: 10;
  width: 3rem;
  display: none;
}

#grass {
  position: absolute;
  bottom: 0;
  height: 8%;
}

#oaklog1 {
  position: absolute;
  height: 5%;
  bottom: 8%;
  left: 70%;
}

#oaklog2 {
  position: absolute;
  height: 5%;
  bottom: 8%;
  left: 65%;
}

#oaklog3 {
  position: absolute;
  height: 5%;
  bottom: 8%;
  left: 62%;
}

.oakleaf {
  position: absolute;
  height: 8%;
  left: 72.5%;
  bottom: 0%;
}

#oakPlank {
  position: fixed;
  height: 5%;
  bottom: 48%;
  display: none;
  z-index: 4;
}

#inventoryScissors {
  position: absolute;
  bottom: 0.5rem;
  left: calc(50% - 60px);
  transform: translate(-50%);
  z-index: 10;
  width: 3rem;
}

#mooshroom {
  position: absolute;
  width: 264px;
  height: auto;
  bottom: 4.2rem;
}

#inventoryMushroom {
  position: absolute;
  bottom: 0.5rem;
  left: calc(50%);
  transform: translate(-50%);
  z-index: 10;
  width: 3rem;
  display: none;
}
#inventoryWateringcan {
  position: absolute;
  bottom: 0.5rem;
  left: calc(50% + 60px);
  transform: translate(-50%);
  z-index: 10;
  width: 3rem;
}

#mushroomNumber {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: -1rem;
  left: calc(50%);
  transform: translate(+20%);
  z-index: 10;
  width: 3rem;
  display: none;
}

#craftingTableGrid {
  position: fixed;
  top: 35%;
  display: none;
  z-index: 3;
}

body {
  margin: 0px;
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-position: bottom;
  overflow: hidden;
  font-family: "Minecraft", sans-serif1;
}
#help-button {
  position: relative;
  background-color: #007bff;
  color: white;
  padding: 20px 20px;
  border: teal;
  cursor: pointer;
}

#help-popup {
  display: none;
  position: fixed;
  width: 400px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
  z-index: 10;
  overflow: scroll;
}
