html,
body {
  height: 100%;
  background-color: #74B3FF;
}

#clouds{
  position: absolute;
  width: 100%;
  height: 20%;
}

#butterfly {
  height: 100px;
  width: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

#wateringcan {
  width: 200px;
  position: fixed;
  bottom: 20%;
  left: 40%;
}

.waterdrop {
  width: 20px;
  position: relative;
}

#net-image {
  position: absolute;
  margin: 0;
  padding: 5px;
  width: 10rem;
}

.apple {
  height: 50px;
  width: auto;
  position: absolute;
}

#bird1, #bird2, #bird3{
  position: absolute;
}

#tree {
  position: fixed;
  bottom: -15%;
  left: 35%;
  width: 70%;
}

.basket {
  width: 200px;
  position: fixed;
  bottom: 100px;
  left: 20%;
}

#minecraftNav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}
#minecraftNavSelected {
  position: absolute;
  bottom: 0;
  left: calc(50% - 240px);
  transform: translate(-50%);
  z-index: 10;
}
#inventoryNet {
  position: absolute;
  bottom: 0.5rem;
  left: calc(50% - 240px);
  transform: translate(-50%);
  z-index: 10;
  width: 1.3rem;
}
#inventoryAxe {
  position: absolute;
  bottom: 0.5rem;
  left: calc(50% - 180px);
  transform: translate(-50%);
  z-index: 10;
  width: 3rem;
}
#inventoryrifle{
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 120px);
  transform: translate(-50%);
  z-index: 10;
  width: 3rem;
}

#grass{
  position: absolute;
  bottom: 0;
  height: 8%;
}

#oaklog{
  position: absolute;
  height: 8%;
  bottom: 8%;
  left: 68%;
}

.oakleaf{
  position: absolute;
  height: 8%;
  left: 72.5%;
  bottom: 0%;
}
#inventoryScissors{
  position: absolute;
  bottom: .5rem;
  left: calc(50% - 60px);
  transform: translate(-50%);
  z-index: 10;
  width: 3rem;
}

#mooshroom{
  position: absolute;
  width: 264px;
  height: auto;
  bottom: 3rem;
}




body {
  margin: 0px;
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-position: bottom;
  overflow: hidden;
}
